body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

h1 {
    font-size: 50px;
}

.nm {
    color: orange;
}

.flexible-container {
    display: flex;
    padding-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
}

.half-width img {
    width: 80%;
    padding-top: 100px;
}

p {
    font-weight: 500;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 50%;
    color: white;
    font-weight: 500;
}

.top-banner {
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
    background-size: 4%;
}

.dream-big {
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 4%;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}

.experience {
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 4%;
}

#mern-stack-developer {
    border-left: 5px solid tomato;
}

#full-stack-developer {
    border-left: 5px solid skyblue;
}

footer p {
    text-align: center;
    color: rgb(241, 19, 19);
}